<div class="modal fade" id="staffModal" tabindex="-1" aria-labelledby="staffModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staffModalLabel">{{ 'Edit' if staff else 'Add' }} Staff</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="staffForm" enctype="multipart/form-data">
        <input type="hidden" id="staff_id" name="staff_id" value="{{ staff.id if staff else '' }}">
        <div class="modal-body">
          <!-- Paste your form inputs here -->
          ... your form fields ...
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
